.pagination li.active {
  background-color: black;
}
.nav-wrapper{
  padding: 0 20px;
  display: flex;
}
.search-wrapper{
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: inherit;
  box-shadow: inherit;
}


.autocomplete{
  width: 300px;
  .autocomplete-input {
    border: 1px solid #eee;
    border-radius: 8px;
    width: 100%;
    padding: 12px 12px 12px 48px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #eee;
    color: black;
    outline: none;
    margin-bottom: 0px;
  }
  ::placeholder {
    color: black;

  }

  .autocomplete-input:focus, .autocomplete-input[aria-expanded=true] {
    background-color: #fff;
    outline: none;
  }
  .autocomplete-result-list {
    top: 86% !important;
  }
  
  .autocomplete-result{
    width: 100%;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
  }

}

.progress {
  margin: 2.5rem 0 1rem 0;
  background-color: rgba(0, 0, 0, 0.233);
  .indeterminate {
    background-color: rgb(0, 0, 0);
  }
}
.recomend-dont-find {
  margin-left: 1.5%;
}

